@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>About us</h3>
<p><br />
    
    ACME INC is one of the leading tech and goods suppliers worldwide<br />
    Founded in 2010 we have been supplying geeks around the world for over a decade with quality products and supreme support<br />
    Located in the busy city of Sandton , we ship orders to our customers really fast with our excellent delivery service.</p>
