@{
    ViewBag.Title = "Contact";

}
<h3>Contact Us!</h3>
<h4>Thnk you for shopping with us, here is our contact details for further enquiry</h4>

<address>
    17 Rivonia road<br />
    Sandton, ZA 1728<br />
    <abbr title="Phone">P:</abbr>
    72 82 060 3746
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">aqeel.abader.a@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@acmeinc.com</a>
</address>