<h1> Thank you!</h1>
<br />
<h3>Your payment was successfull, you will recieve an email with the reciept shortly</h3>
<br />
<br /><br />
<p>To return to the Home page , click the button below</p>
<br />
<button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")';return false;">Back Home</button>
<br /><br />
